{% load static %}
<div class="sidebar-courses-list">
  
  {% with year_param=selected_year_id|yesno:'?school_year_id=selected_year_id,' %}
  
  <a class="item" href="{% url 'teacher_dashboard' 'todos' %}{{ year_param }}">Todos</a>
  
  <div class="sidebar-group">
    <div class="sidebar-group-title">ESO</div>
    {% for c in eso_courses %}
      <a class="item" href="{% url 'class_dashboard' c.CourseID %}?school_year_id={{ selected_year_id }}">{{ c.Section }}</a>
    {% empty %}
      <div class="empty">No hay cursos ESO</div>
    {% endfor %}
  </div>
  
  {% endwith %}
</div>