{% load static %}
<div class="sidebar-courses-list">
  <a class="item" href="{% url 'section_page' 'todos' %}">Todos</a>
  <div class="sidebar-group">
    <div class="sidebar-group-title">ESO</div>
    {% for c in eso_courses %}
      <a class="item" href="{% url 'class_dashboard' c.CourseID %}">{{ c.Section }}</a>
    {% empty %}
      <div class="empty">No hay cursos ESO</div>
    {% endfor %}
  </div>

  <div class="sidebar-group">
    <div class="sidebar-group-title">Bachillerato</div>
    {% for c in bach_courses %}
      <a class="item" href="{% url 'class_dashboard' c.CourseID %}">{{ c.Section }}</a>
    {% empty %}
      <div class="empty">No hay cursos Bachillerato</div>
    {% endfor %}
  </div>

  <div class="sidebar-group">
    <div class="sidebar-group-title">IB</div>
    {% for c in ib_courses %}
      <a class="item" href="{% url 'class_dashboard' c.CourseID %}">{{ c.Section }}</a>
    {% empty %}
      <div class="empty">No hay cursos IB</div>
    {% endfor %}
  </div>
</div>
