{% extends "base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/global-styles.css' %}">
{% endblock %}

{% block content %}
    
    <h2>
        {% if is_edit %}
            Editar Ausencia
        {% else %}
            Crear Nueva Ausencia
        {% endif %}
    </h2>

    <form method="POST">
        {% csrf_token %} {{ form.as_p }} 

        <button type="submit" class="btn-edit">
            {% if is_edit %}
                Actualizar Ausencia
            {% else %}
                Guardar Ausencia
            {% endif %}
        </button>
    </form>
{% endblock content %}